<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ambulance.taxirider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!--    <uses-permission android:name="android.permission.SEND_SMS" />-->

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>
    </queries>
    <application
        android:name="${applicationName}"
        android:icon="@mipmap/logo"
        android:label="Sanjeevani Plus"
        android:roundIcon="@mipmap/logo_round"
        tools:replace="android:label">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBloFCRXE7QQ5QBHJT-yOKRfROB--CSUZI"/>
<!--            android:value="AIzaSyDls8rrAgSmKSjsv_q9ZSHqbRdmJ4PIHoU" />-->
<!--            android:value="AIzaSyCJBGAgBHOCkFIpPtcLHgXWgowMF1iCQ7E" />-->
<!--            android:value="AIzaSyCJBGAgBHOCkFIpPtcLHgXWgowMF1iCQ7E" />-->
<!--            android:value="AIzaSyBtn0K-YLDmYbovVk9zsDE0VvIhe4XzzFI" />-->
<!--            android:value="AIzaSyDY6bCkW4uDURxfg6-NX0__8jVDrtsy20I" />-->
        <!--    android:value="AIzaSyB51KhXY-UTRgW7lfV0oh0DXA8FYPkwEbo" />-->

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="Instantiatable">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
           <!-- <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Set up the Sign in with Apple activity, such that it's callable from the browser-redirect -->
        <activity
            android:name="com.ambulance.taxirider.dart_packages.sign_in_with_apple.SignInWithAppleCallback"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="signinwithapple" />
                <data android:path="/callback" />
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
